# .github/workflows/cleanup-stale-branch.yaml
name: Cleanup Stale Branches
run-name: Stale Branches Cleanup Running 

on:
  schedule:
    - cron: '0 4 * * 1-5'
  # Allows to run workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

jobs:
  cleanup_stale_branches:
  # Only run if the repository is not a fork and not archived
    if: github.event.repository.fork == false && github.event.repository.archived == false
    runs-on: ubuntu-latest
    steps:
      - name: Cleanup Stale Branches
        uses: crs-k/stale-branches@v5.0.0
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          days-before-stale: 120
          days-before-delete: 180
          comment-updates: false
          max-issues: 20
          tag-committer: false
          stale-branch-label: 'stale-branch'
          compare-branches: 'info'
          branches-filter-regex: '^((?!dependabot))'
          rate-limit: true
          pr-check: true
          dry-run: true
          ignore-issue-interaction: true
          include-protected-branches: false
          include-ruleset-branches: false
          ignore-commit-messages: ''
          ignore-committers: ''